app1/__pycache__/__init__.cpython-310.pyc
app1/__pycache__/admin.cpython-310.pyc
app1/__pycache__/apps.cpython-310.pyc
app1/__pycache__/forms.cpython-310.pyc
app1/__pycache__/models.cpython-310.pyc
app1/__pycache__/urls.cpython-310.pyc
app1/__pycache__/views.cpython-310.pyc
app1/migrations/__pycache__/__init__.cpython-310.pyc
app1/migrations/__pycache__/0001_initial.cpython-310.pyc
app1/migrations/__pycache__/0002_user_group_user_usergroup.cpython-310.pyc
app1/migrations/__pycache__/0003_alter_personaldetails_address.cpython-310.pyc
app1/migrations/__pycache__/0004_alter_personaldetails_address.cpython-310.pyc
app1/migrations/__pycache__/0005_smsupload_smsdetails.cpython-310.pyc
app1/migrations/__pycache__/0006_smsupload_sent.cpython-310.pyc
app1/migrations/__pycache__/0007_logdata_campaign.cpython-310.pyc
app1/migrations/__pycache__/0008_logdata_list_id_personaldetails_list_id.cpython-310.pyc
app1/migrations/__pycache__/0009_alter_dataupload_entry_alter_smsdetails_entry_and_more.cpython-310.pyc
app1/migrations/__pycache__/0010_loginhistory_missedcall_remove_logdata_fe_date_and_more.cpython-310.pyc
app1/migrations/__pycache__/0011_rename_datetime_sendfeto_fe_datetime.cpython-310.pyc
app1/migrations/__pycache__/0012_sendfeto_contacted_datetime.cpython-310.pyc
app1/migrations/__pycache__/0013_rename_campaign_loginhistory_event_and_more.cpython-310.pyc
skycrm/__pycache__/__init__.cpython-310.pyc
skycrm/__pycache__/settings.cpython-310.pyc
skycrm/__pycache__/urls.cpython-310.pyc
skycrm/__pycache__/wsgi.cpython-310.pyc
app1/__pycache__/__init__.cpython-310.pyc
app1/__pycache__/admin.cpython-310.pyc
app1/__pycache__/apps.cpython-310.pyc
app1/__pycache__/forms.cpython-310.pyc
app1/__pycache__/models.cpython-310.pyc
app1/__pycache__/urls.cpython-310.pyc
app1/migrations/__pycache__/__init__.cpython-310.pyc
app1/migrations/__pycache__/0001_initial.cpython-310.pyc
app1/migrations/__pycache__/0002_user_group_user_usergroup.cpython-310.pyc
app1/migrations/__pycache__/0003_alter_personaldetails_address.cpython-310.pyc
app1/migrations/__pycache__/0004_alter_personaldetails_address.cpython-310.pyc
app1/migrations/__pycache__/0005_smsupload_smsdetails.cpython-310.pyc
app1/migrations/__pycache__/0006_smsupload_sent.cpython-310.pyc
app1/migrations/__pycache__/0007_logdata_campaign.cpython-310.pyc
app1/migrations/__pycache__/0008_logdata_list_id_personaldetails_list_id.cpython-310.pyc
app1/migrations/__pycache__/0009_alter_dataupload_entry_alter_smsdetails_entry_and_more.cpython-310.pyc
app1/migrations/__pycache__/0010_loginhistory_missedcall_remove_logdata_fe_date_and_more.cpython-310.pyc
app1/migrations/__pycache__/0011_rename_datetime_sendfeto_fe_datetime.cpython-310.pyc
app1/migrations/__pycache__/0012_sendfeto_contacted_datetime.cpython-310.pyc
app1/migrations/__pycache__/0013_rename_campaign_loginhistory_event_and_more.cpython-310.pyc
app1/__pycache__/views.cpython-310.pyc
