{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include "style.html" %}
    <style>
    
    .otslink{
        color:#047BD5;
    background-color: #FFFF;
    /* border-radius: 10px; */
    display: inline-block;
    text-decoration: none;
    height: 32px;
    border: 2px solid #047BD5;
    width: 118px;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 10px;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Roboto';
}

.dataTables_wrapper {
    margin-left: 1px;
    text-align: center;
}
  .otslink:hover{
  color: white;
  background-color: #047BD5;
}

.linkme:nth-of-type(1) .dashcard .imgcard img{
  height: 22px !important;
}
.linkme:nth-of-type(3) .dashcard .imgcard img{
  height: 33px !important;
}

.dashcard .imgcard img{
  height: 33px !important;
}

.dashcard:nth-of-type(3) .imgcard img{
  height: 22px !important;
}

    </style>
    <div class="container-fluid">
        <div class="row" >
            <div class="dash">
            Team Overall Report 
              </div>
            <div class="">
              <div style="position: relative;
              float: right;
              width: 50%;"  >
                <img  src="{% static 'Images/Vector.png'%}" class="searchicon" style="position: absolute;top: 20px;
                left: 34px;" alt="" >
                <input type="search" class="dashsearch"  placeholder="Search" style="width: 69%;">
                <a href="{% url 'dashtlots' %}" class="otslink">OTS Request</a>
              </div> 
          
            <div class="cardBox flex-wrap">
              <a href="/ptp" class="linkme">
                <div class="dashcard">
                  <div class="imgcard ptp" style="padding-top: 3px;" >
                  <img src="{% static 'Images/ptp status icon 2.svg' %}" height="29px"/></div>
                  <p class="cardcontent">Lead PTP</p>
              </div>
              </a>
              <a href="/ptpcount" class="linkme">
                <div class="dashcard">
                    <div class="imgcard">
                      <img src="{% static 'Images/pay icon.svg' %}" style="padding-top: 18%;" height="31px"/>
                    </div>
                    <p class="cardcontent">PTP Count Status</p>
                </div>
              </a>
              <a href="/paidcount" class="linkme">
                <div class="dashcard">
                    <div class="imgcard">
                      <img src="{% static 'Images/ptp status comparison icon.svg' %}"  style="padding-top: 3%;" height="35px"/>
                    </div>
                    
                    <p class="cardcontent">Paid Count Status</p>
                </div>
              </a>
                <div class="dashcard">
                    <div class="imgcard">
                      <img src="{% static 'Images/paid status icon.svg' %}"  style="padding-top: 12%; "/>
                    </div>
           
                    <p class="cardcontent">Paid Status Comparison</p>
                </div>
                <div class="dashcard">
                    <div class="imgcard">
                      <img src="{% static 'Images/folder.svg' %}" style="padding-top: 3%;"/>      
                    </div>
                    <p class="cardcontent">Disposition Status</p>
                </div>
                <div class="dashcard" id="clickplz">
                    <div class="imgcard" >
                      <img src="{% static 'Images/warning.svg' %}" style="padding-top: 25%; "/>
                    </div>
                    
                    <p class="cardcontent">Not Attempted</p>
                </div>
            </div>
            <div class="infotable" style=" margin-left: 65px;">
            
                <div class="table-responsive table-div" style="text-align:center;margin-left: 12px;border-radius: 10px;height: 414px;width: 99%;">
                <table id="example" class="table  "  style="width:100%;">
                 <thead>
                      <tr class="importantth" style="background-color: #047BD5;">
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Agent Name
                        </th>
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Allocation
                        </th>
                        <th class="th-sm"  style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Collectable
                        </th>
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Target
                        </th>
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Paid
                        </th>
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Collection Projections
                        </th>
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">Archieved
                        </th>
                        <th class="th-sm" style="font-family: 'Roboto';font-style: normal;font-weight: 400;padding-bottom: 21px; font-size: 14px;">View
                        </th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in data %}
                      <tr>
                        <td>{{i.info.borrowor_name}}</td>
                        <td>{{i.info.loan_id}}</td>
                        <td>{{i.tos}}</td>
                        <td>{{i.ots}}</td>
                        <td>{{i.otspercentage}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                    <tfoot>
          
                    </tfoot>
                  </table>
            </div>
            </div>
            
        </div>
    
    </div>
  </section>
 
      <script>
        // table design starts
         
            $(document).ready(function () {
               var table =  $('#example').DataTable({
                  "aLengthMenu":[100]
                  
                });

                var search = $.fn.dataTable.util.throttle(
                function(val) {
                    table.search(val).draw();
                },
                400  // Search delay in ms
            );

            $('.dashsearch').keyup(function() {
                search(this.value);
            });
           
          $("#clickplz").mouseover(function(){
            alert("done")
          })
      
        })       
// table design end
$(document).ready(function(){
  $(".dashsel").addClass("active-page")
    $(".sidebar").mouseover(function(){
      $(".sidebar").removeClass("close")
    })
    $(".sidebar").mouseout(function(){
      $(".sidebar").addClass("close")
    })

  
  })
        
  $(window).on("beforeunload", function(e) {
      
    });

      </script>

{% endblock content %}
  </body>