{% extends 'base.html'  %}
{% load static %}
{% block content %}


<style>

</style>

{% csrf_token %}


<main class="main-reminder">

  <div class="row">
    <div class="col-md-8">
      <div class="dcardBox flex-wrap">
      <div class="maindashcard">
        <div class="mimgcard"></div>
        <p class="cardcontent"></p>
    </div>
   
      <div class="maindashcard">
        <div class="mimgcard"></div>
        <p class="cardcontent"></p>
    </div>
   
      <div class="maindashcard">
        <div class="mimgcard"></div>
        <p class="cardcontent"></p>
    </div>


    
      <div class="maindashcard">
        <div class="mimgcard"></div>
        <p class="cardcontent"></p>
    </div>

      <div class="maindashcard">
        <div class="mimgcard"></div>
        <p class="cardcontent"></p>
    </div>
    
      <div class="maindashcard">
        <div class="mimgcard"></div>
        <p class="cardcontent"></p>
    </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="mainsidediv">

      </div>
  </div>

</div>
<div class="row"  style="margin-left: 0px;">
 <div class="col-md-10" >
</div>

</div>
 

</main>

<script>
    
  
      // checking agent active pause status starts
      function cs(){
    $.ajax({
      type:"POST",
      url:'{% url "apstatus" %}',
      data:{
               csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
               
            },
            success: function(data){
              console.log("call status ",data.status)
              if (data.status =='CLOSER'  ){
                $('.dash > button').text('Active')
                console.log(data.status,"class added in 1")
                $('.sb1').addClass('on')
                $('.sb2').removeClass('on')
              }
              else if (data.status == 'PAUSED'){

              $('.dash > button').text('Pause')
              console.log(data.status,"class added in 2")
              $('.sb2').addClass('on')
              $('.sb1').removeClass('on')
            }
          }
    })
  }


      // checking agent active pause status ends

      //  pausecode function starts

      function pausecode(){
      $.ajax({
        url:'{% url "pausecode" %}',
        type: 'post',
        data:{
          csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
        } ,
        dataType:'json',
        success:function(e){
          console.log("pause done",e.msg)
               $('.sb2').addClass('on'),
                $('.sb1').removeClass('on')
                pc()
        }
      })
    }
// pause and active function ends
      
  function pa(){
      $.ajax({
        url:'{% url "pa" %}',
        type: 'post',
        data:{
          csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
        } ,
        dataType:'json',
        success:function(e){
          console.log(e.status,"jdfjge",e.res)
          $('.label-text').html(e.res)
            if (e.status == 200){
              console.log(e.res,"its")
              $('.label-text').html("active")
              $('.sb1').addClass('on')
               $('.sb2').removeClass('on')
            
            }else if(e.status == 300){
              $('.label-text').html("pause")
              $('.sb2').addClass('on')
    $('.sb1').removeClass('on')
            }
            else{
              $('.label-text').html("Error")
            }
        },
      })
    }
    // pause and active function end

 // <block:actions:2>
function pc(){
  $.ajax({
            type:"post",
            url:'{% url "breakcode" %}',
            data:{
              pc:$("#breakdrop").val(),
              csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function(data){
              console.log("done")
              console.log(data.status)
              msg = data.status
              console.log(data.res,"response")
              var msg=data.res
              console.log("this is first response" ,typeof msg)
              if (msg.includes("ERROR")){
                $('.bts3').click()
                pausecode()
                $(".container_pro").addClass("d-none"),
                $('.sb1').addClass('on'),
                $('.sb2').removeClass('on')


              }
              else if (msg.includes("SUCCESS")){
                    console.log("Asdd")
                    $(".container_pro").addClass("d-none"),
                    $('.sb2').addClass('on'),
                    $('.sb1').removeClass('on')
                   }
        }        
      })
          }

$(document).ready(function () {
   cs()


  const addButtonTrigger = (el) => {
                console.log("done")
	el.addEventListener('click', () => {
		const popupEl = document.querySelector(`.${el.dataset.for}`);
		popupEl.classList.toggle('popup--visible');
    console.log("its")
	});
};

Array.from(document.querySelectorAll('button[data-for]'))
           .forEach(addButtonTrigger); 

           $.ajax({
      type:'get',
      url:'{% url "callsinqueue" %}',
      success:function(data){
        console.log(data.status)
        console.log("queue",data.res,data.count)
        if(data.status == 300 ){
          $(".queuecount").html("No Call available since you are not logged in dialer")
        }
        $(".queuecount").html(data.count)
      }

    })

      $(".dashsel").addClass("active-page")

   

      $("#breakdrop").change(function(){
        console.log($("#breakdrop").val())
        pc()
        $(".container_pro").addClass("d-none")
      })
     
      $('.sb1').click(function(){
    $('.sb1').addClass('on')
    $('.sb2').removeClass('on')
    pa()
  })

  $('.sb2').click(function(){
    $('.sb2').addClass('on')
    $('.sb1').removeClass('on')
    pa()
  })
})
</script>

{% endblock content %}