<script>

    id=1
const ots_ac_html = (id,bname,cname,loanid,otsamt,suggest,tlstat,tldate,tos,remark) => {
    return component = `<a href="/tlcms/${id}" class="ots-wrapper act-ots">
      <div class="svg-icon">
        <img src="/static/Images/ptp_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${loanid}</div>
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${bname}</div>
      </div>
      <div class="">
        <div class="data-card-title">OTS Amount</div>
        <div class="data-card-content2">Rs. ${otsamt}</div>
      </div>
      <div class="">
        <div class="data-card-title">Suggested OTS Amount</div>
        <div class="data-card-content2">Rs. ${suggest}</div>
      </div>
      <div class="">
        <div class="data-card-title">TL Status Date</div>
        <div class="data-card-content2">${tldate}</div>
      </div>
      <div class="">
        <div class="data-card-title">TL Status</div>
        <div class="data-card-content3 act">${tlstat}</div>
      </div>
      <div class="">
        <div class="data-card-title">Remark</div>
        <div class="data-card-content3">${remark}</div>
      </div>
    </a>`
} 

const ots_rej_html = (id,bname,cname,loanid,otsamt,suggest,tlstat,tldate,tos,remark) => {
    return component = `<a href="/tlcms/${id}" class="ots-wrapper rej-ots">
      <div class="svg-icon">
        <img src="/static/Images/ptp_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${loanid}</div>
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${bname}</div>
      </div>
      <div class="">
        <div class="data-card-title">OTS Amount</div>
        <div class="data-card-content2">Rs. ${otsamt}</div>
      </div>
      <div class="">
        <div class="data-card-title">Suggested OTS Amount</div>
        <div class="data-card-content2">Rs. ${suggest}</div>
      </div>
      <div class="">
        <div class="data-card-title">TL Status Date</div>
        <div class="data-card-content2">${tldate}</div>
      </div>
      <div class="">
        <div class="data-card-title">TL Status</div>
        <div class="data-card-content3 rej">Rejected</div>
      </div>
      <div class="">
        <div class="data-card-title">Remark</div>
        <div class="data-card-content3">${remark}</div>
      </div>
    </a>
   </div>`
}
const ots_pen_html = (id,bname,cname,loanid,otsamt,suggest,tlstat,tldate,tos,remark) => {
    return component = `<a href="/tlcms/${id}" class="ots-wrapper pen-ots">
      <div class="svg-icon">
        <img src="/static/Images/ptp_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${loanid}</div>
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${bname}</div>
      </div>
      <div class="">
        <div class="data-card-title">OTS Amount</div>
        <div class="data-card-content2">Rs. ${otsamt}</div>
      </div>
      <div class="">
        <div class="data-card-title">Suggested OTS Amount</div>
        <div class="data-card-content2">Rs. ${suggest}</div>
      </div>
      <div class="">
        <div class="data-card-title">TL Status Date</div>
        <div class="data-card-content2">${tldate}</div>
      </div>
      <div class="">
        <div class="data-card-title">TL Status</div>
        <div class="data-card-content3 pen">Pending</div>
      </div>
      <div class="">
        <div class="data-card-title">Remark</div>
        <div class="data-card-content3">${remark}</div>
      </div>
    </a>
   </div>`
}

const dashtlajax = () => {
    const fdata = new FormData() 
    fdata.append('remfilter',$('input[name="filterval"]').val());
    fdata.append('tdate',$('input[name="todate"]').val())
    fdata.append('fdate',$('input[name="fdate"]').val())
    fdata.append('sortby',$('.rm-sortby').val())

    sessionStorage.setItem('otsremfilter',$('input[name="filterval"]').val())
    sessionStorage.setItem('otssort',$('.rm-sortby').val())
    sessionStorage.setItem('otsfdate',$('input[name="fdate"]').val())
    sessionStorage.setItem('otstdate',$('input[name="todate"]').val())
    
    $.ajax({
        method: 'POST',
        headers: {
        "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
        },
        url: "{% url 'dashtlajax' %}",
        data: fdata,
        datatype:'json',
        processData: false,
        contentType: false,
    
        success: function (data) {
            let x = data.all_data
            console.log(x)

            // console.log(x)
            $('.main-data-wrapper').empty()

            if (x.length < 1){
                return null
            }
            if (x != undefined){
            for (var i in x){

                let dtFormat = new Intl.DateTimeFormat('en-US',{
                                month:'short',
                                day:'2-digit',
                                year:'numeric',
                                hour: 'numeric',
                                minute:'numeric',
                                second:'numeric',
                                hour12:false
                            })

                let d = x[i].tlstatdate
                d = new Date(d);
                d = dtFormat.format(d)

                if (x[i].tlstat == "Accepted"){
                    $('.main-data-wrapper').append(ots_ac_html(x[i].info_id,x[i].borrower_name,x[i].callername,x[i].loan_id,x[i].ots_amt,x[i].suggest,x[i].tlstat,x[i].tlstatdate,x[i].tos,x[i].remark))
                }
                else if (x[i].tlstat == "Declined"){
                    $('.main-data-wrapper').append(ots_rej_html(x[i].info_id,x[i].borrower_name,x[i].callername,x[i].loan_id,x[i].ots_amt,x[i].suggest,x[i].tlstat,x[i].tlstatdate,x[i].tos,x[i].remark))
                }else{
                    $('.main-data-wrapper').append(ots_pen_html(x[i].info_id,x[i].borrower_name,x[i].callername,x[i].loan_id,x[i].ots_amt,x[i].suggest,x[i].tlstat,x[i].tlstatdate,x[i].tos,x[i].remark))
                }               
        }
    }
        }
    })
}
$(document).ready(function(){
    dashtlajax()

    $('.fall-link')[0].click(); 

    $('input[name="fdate"]').change(()=>{
        dashtlajax()
        console.log("ds")
    })
    $('input[name="todate"]').change(()=>{
        console.log("ds")
        dashtlajax()
    })
    $('.fall-link').click(function(){
        $('input[name="filterval"]').val("all")
        dashtlajax()
    })
    $('.acp-link').click(function(){
        $('input[name="filterval"]').val("Accepted")
        dashtlajax()
    })
    $('.rej-link').click(function(){
        $('input[name="filterval"]').val("Declined")
        dashtlajax()
    })
    $('.pen-link').click(function(){
        $('input[name="filterval"]').val("Pending")
        dashtlajax()
      })
      $('.rm-sortby').change(function(){
        dashtlajax()
      })
})
</script>