{% extends 'base.html' %}
{% load static %}
<body>


{% block content %}
{% include "style.html" %}
<style>
  .cal-con{
    width: 32%;
    min-width: 235px;
  }
  
  .uploadinput-div1{
    width: 40%;
    padding-left: 0;
    min-width: 150px;
  }
  
  .uploadinput-div2{
    width: 27%;
    min-width: 150px;
    padding-left: 0;
    
  }
  
  .uploadinput-div3{
    width: 27%;
    min-width: 150px;
    padding-left: 0;
    
  }
  .ots-filter{
        width: 100%;
        z-index: 2;
      }

      .select2-container .select2-selection--single{
        height: 33px;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 35px;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 15px !important;
}

      .select2-container--default .select2-selection--single{
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
        border: none;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow{
        top: 4px;
      }
      .sortby-div >.select2-container--default .select2-selection--single .select2-selection__rendered{
        padding-left: 38px; 
      }

      .uploaddiv{
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
        background: #F6F5FA;
      }
      .exportbtn{
        margin-bottom: 17px;
      }
.flatpickr-time{
  display: none;
}

.fa-caret-downs{
        color: #197AA4;
        font-size: 11px;
        position: absolute;
        background-color: #fff;
        right: 3px;
        top: 6px;
        width: 12px;

      }

      .fa-caret-downs img{
        width: 8px;
        height: 5px;
      }

      .selectedls{
        display: flex;
    gap: 28px;
    padding: 16px 120px;
      }

  @media screen and (max-width: 512px){
    .uploaddiv{
      margin-left: 97px;
      width: 72%;
    }
  }
  
</style>
<form action="" method="post">
<div class="row">
    {% csrf_token %}
    <div class="dash">Data Export</div>
    <div class="uploaddiv" style="height: auto;min-height: 0px;">
        <div class="row mt-3 firstrow gap-3">
            <div class="uploadinput-div1">
              <select name="sel1" id="" class="exp1">
                <option value="">Select Campaign</option>
                {% for i in campname %}
                <option value="{{i}}">{{i}}</option> 
                {% endfor %}
              </select>
            </div>

            <div class="uploadinput-div3 pl-0">
              <div class="column d-flex gap-2 align-items-end justify-content-end flex-wrap " style="width: 100%;">
                {% csrf_token %}
                <div class="ots-filter">
                 
                
          <div class="multiselect">                
            <div class="selectbox" onclick="showCheckBoxes()">
      <img src="{% static 'Images/filterby.png' %}" style="height: 13px; margin-top: 2px; width: 15.7px;" class="sort-icon" alt="">
      
                      <select class="customselect" >
                          <option value="">Select Criteria</option>
                      </select>
                      <div class="fa-caret-downs">
                        <img class="" src="{% static 'Images/caret.png'  %}" alt="">
                      </div>
                       <div class="overselect"></div>
                    </div>
                    <div id="checkboxes">

                      <label for="ptp" class="checkbox-wrapper">
                        <input type="checkbox" value="Promise To Pay" name="remcb" id="ptp">
                        <label for="ptp">Promise To Pay</label>
                      </label>

                      <label for="paid" class="checkbox-wrapper">
                        <input type="checkbox" value="Paid" name="remcb" id="paid">
                        <label for="paid">Paid</label>
                      </label>

                      <label for="cbk" class="checkbox-wrapper">
                        <input type="checkbox" value="Call Back" name="remcb" id="cbk">
                        <label for="cbk">Call Back</label>
                      </label>
                      
                      <label for="shc" class="checkbox-wrapper">
                        <input type="checkbox" value="Schedule Call" name="remcb" id="shc">
                        <label for="shc">Schedule Call</label>
                      </label>
                      
                      <label for="ots" class="checkbox-wrapper">
                        <input type="checkbox" value="OTS Request" name="remcb" id="ots">
                        <label for="ots">OTS Request</label>
                      </label>
                      
                      <label for="set" class="checkbox-wrapper">
                        <input type="checkbox" value="Send FE To Collect" name="remcb" id="set">
                        <label for="set">Send FE To collect</label>
                      </label>
    
                      <label for="settlement" class="checkbox-wrapper">
                        <input type="checkbox" value="Settlement" name="remcb" id="settlement">
                        <label for="settlement">Settlement</label>
                      </label>
    
                      <label for="bp" class="checkbox-wrapper">
                        <input type="checkbox" value="Broken Promise" name="remcb" id="bp">
                        <label for="bp">Broken Promise To Pay</label>
                      </label>
    
                      <label for="Refused To Pay" class="checkbox-wrapper">
                        <input type="checkbox" value="Refused To Pay" name="remcb" id="Refused To Pay">
                        <label for="Refused To Pay">Refused To Pay</label>
                      </label>
    
                      <label for="busy" class="checkbox-wrapper">
                        <input type="checkbox" value="Busy" name="remcb" id="busy">
                        <label for="busy">Busy</label>
                      </label>
    
                      <label for="nc" class="checkbox-wrapper">
                        <input type="checkbox" value="No-recall" name="remcb" id="nc">
                        <label for="nc">No-recall</label>
                      </label>
                      
                      <label for="rn" class="checkbox-wrapper">
                        <input type="checkbox" value="Ringing No Response" name="remcb" id="rn">
                        <label for="rn">Ringing No Response</label>
                      </label>
                      
                      <label for="cw" class="checkbox-wrapper">
                        <input type="checkbox" value="Call Waiting" name="remcb" id="cw">
                        <label for="cw">Call Waiting</label>
                      </label>
    
                      <label for="swm" class="checkbox-wrapper">
                        <input type="checkbox" value="Switch OFF" name="remcb" id="swm">
                        <label for="swm">Switched OFF</label>
                      </label>
                      
                       <label for="nr" class="checkbox-wrapper">
                        <input type="checkbox" value="Not Reachable" name="remcb" id="nr">
                        <label for="nr">Not Reachable</label>
                      </label>
    
                      <label for="wc" class="checkbox-wrapper">
                        <input type="checkbox" value="Wrong Contact" name="remcb" id="wc">
                        <label for="wc">Wrong Contact</label>
                      </label>
    
                      <label for="lnc" class="checkbox-wrapper">
                        <input type="checkbox" value="Language Not Communicable" name="remcb" id="lnc">
                        <label for="lnc">Language Not Communicable</label>
                      </label>
    
                      <label for="na" class="checkbox-wrapper">
                        <input type="checkbox" value="Not Available" name="remcb" id="na">
                        <label for="na">Not Available But Resides Here</label>
                      </label>
                    </div>
                  </div>
              </div>
            </div>
            
            </div>
      

            <div class="uploadinput-div2 ">
              <select id="" class="exp2" name="sel2">
                <option value="">Select Criteria1</option>
                
            </select>
            </div>
                </div>
          <div class="d-flex flex-wrap gap-3" style="margin-top: 20px;" >
           <div class="cal-con">
              <img class="cal-icon c1" src="{% static 'Images/cal.png' %}" class="calender" alt="">
              <input class="form-control cal1 startdate" name="sdate" type="datetime-local" placeholder="Start date">
            </div>
        
            <div  class="cal-con">
              <img class="cal-icon c2" src="{% static 'Images/cal.png' %}" alt="">
              <input class="form-control cal2 enddate" name="edate" type="datetime-local" placeholder="End date">
            </div>
         
           <input type="submit" placeholder="Submit" class="exportbtn">
          </form>
       
        </div>
          

          </div>
        </div>
        <div class="selectedls">
          You have selected 
          <div>Campaign<span class="selitems"> IIT Test Campaign</span></div>
          <div>From<span class="selitems">01-10-2022</span>To <span class="selitems">30-10-2022</span></div>
          <div>Criteria<span class="selitems">PTP</span></div>
       </div>

    


        <script>
          var expanded = false;
          function showCheckBoxes() {
             var checkboxes = document.getElementById('checkboxes');
             if (!expanded){
                checkboxes.style.display = "block";
                expanded = true;
             }else {
                checkboxes.style.display = "none";
                expanded = false;
             }
          }
       </script>   
  <script>
    config={
  enableTime: true,
  dateFormat: "d-m-Y ",
  altInput: true,
  altFormat: "F j, Y",
  
}
  flatpickr("input[type=datetime-local]",config);


  $(document).ready(function(){
    $(".lms").addClass("active-page")
    
   
      $("#selectval").change(function(){
       
        $(this).closest('form').submit();
       
      });
      $("#form-post").change(function(){
          $(this).closest("form").submit();
      })

      $('.c1').click(function(){
        $('.cal1').click()
      })
  });
            
      $('input[name=remcb]').click(function(){
        rem = []

        $("input[name=remcb]:checkbox:checked").each(function() {
                rem.push($(this).val());
                console.log(rem)
            })
      })


  // $('#checkboxes').find('input[name=remcb]').each(function(){
  //         if (rsfil.includes($(this).val())){
  //           $(this).attr('checked',true)
  //         }
  //     })

  
  if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }

    $(document).on("click", function (event) {
      // If the target is not the container or a child of the container, then process
      // the click event for outside of the container.

      if ($(event.target).parent().attr('id') != "checkboxes" && $(event.target).parent().attr('class') != 'checkbox-wrapper'){
        $('#checkboxes').css({'display':'none'})
      }
      if ($(event.target).attr('class') == "overselect" ){
        $('#checkboxes').css({'display':'block'})
      }
});
</script>
  
{% endblock content %}