{% extends 'base.html'  %}

{% block content  %}
{% csrf_token %}
<main class="main-non-attempted">
  <div class="filter-wrapper">
    <p class="m-0">Select Agent Name</p>
    <div class="select2-wrapper">
      <select class="np-select"  name="np-select">
        <option value="">Select</option>
        {% for i in u  %}
        <option value="{{i.username}}">{{i.username}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="table-wrapper table-responsive">
      <table class="table table-borderless  table-striped rounded">
        <thead class="sticky-top">
          <tr>
            <th scope="col">Lead id</th>
            <th scope="col">Borrower Name</th>
            <th scope="col">Phone no.</th>
            <th scope="col">Loan no.</th>
            <th scope="col">Caller ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
    </table>
  </div>
</main>

<script>
  $('.header-title').html("Non-attempted")

  function agn(){
    var data=new FormData()
    data.append("agent",$("select[name=np-select]").val())
            
    $.ajax({
      method: "POST",
      headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
      url: "{% url 'nonattempted'  %}",
      data: data,
      datatype:'json',
      processData: false,
      contentType: false,
      success: function (data) {
        console.log(data.data)
        let v=data.data
        output=''
        $('tbody').empty()
        // if (v != undefined ){
        for(var i in v){
          console.log("tbody",`${v[i].id}`)
          $("tbody").append(`  <tr class='clickable-row dashhover' data-href="/cms/${v[i].id}/" style="cursor: pointer;">
                    <td style="font-size: 12px;">${v[i].id}</td>
                    <td style="font-size: 12px;">${v[i].borrowor_name}</td>
                    <td style="font-size: 12px;">${v[i].mobile_number}</td>
                    <td style="font-size: 12px;">${v[i].bank_loan_accountno}</td>
                    <td style="font-size: 12px;text-transform: uppercase;">${v[i].callername}</td>
                </tr>`)
          }
      
      },

        });
      }
    $(document).ready(function () {
      agn()
      $(".non-atmp").addClass("active-page")
        $(document).on('click','.clickable-row',function() {
        window.location = $(this).data("href");
    });
    $("select[name=np-select]").change(function(){

      console.log("change",$("select[name=np-select]").val())
         agn()
            
            })
  })
</script>
{% endblock content  %}