{% extends 'base.html'  %}

{% block content  %}
{% load static  %}
{% csrf_token  %}

<style>
    
    .select2-container--default .select2-selection--single {
    box-shadow: none;
    background: #E4F3FF;
    border: 0;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #047BD5;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 89%;
}
</style>

<main class="main-reminder main-ots">
  <div class="sicdiv">
            <input type="text" class="osd" placeholder="Search">
            <img  src="{% static 'Images/Vector.png'%}" class="searchicon" alt="" >
        </div>
        <div class="overcarddiv">
            <div class="overcard clicked">
                <img  src="{% static 'Images/nfolder.svg'%}" class="cimg" alt="" style="filter:brightness(100)">
                 <span class="crdhead" style="color: #FFFFFF;">Lead PTP Behaviour</span>
            </div>
            <a href="/ptpcount" class="linkme">
            <div class="overcard">
                <img  src="{% static 'Images/npaid.svg'%}" class="cimg" alt="" >
                <span class="crdhead">PTP Status</span>
            </div>
            </a>
            <a href="/paidcount" class="linkme">
            <div class="overcard">
                <img  src="{% static 'Images/nptp.svg'%}" class="cimg" alt="" >
                <span class="crdhead">Paid Status</span>
            </div>
            </a>
            <a href="/teamoverall" class="linkme">
            <div class="overcard">
                <img  src="{% static 'Images/ngrp.svg'%}" class="cimg" alt="" >
                <span class="crdhead">Disposition Status</span>
            </div>
            </a>
            <div class="overcard">
                <img  src="{% static 'Images/nnc.svg'%}" class="cimg" alt="" >
                <spa class="crdhead">Non Attempted</span>
            </div>

        </div>

        <div class="table-wrapper table-responsive" style="margin: auto;margin-top: 15px;">
            <table class="table table-borderless  rounded" style="width: 109%;">
              <thead class="sticky-top">
                <tr>
                  <th  scope="col"> {% if request.user.user_level == 9 %}
                    <div style="width: 100px;">
                      <select class="campaignq agn" name="ptpagent">
                        <option value="">Agent Name</option>
                      {% for i in u %}
                        <option value="{{i.username}}">{{i.username}}</option>
                        {% endfor %}
                      </select>
                     </div>
                     {% else %}
                     Agent name
                     {% endif %}</th>
                  <th  scope="col">LAN</th>
                  <th  scope="col"><div style="width: 100px;">
                    <select class="campaignq agn" name="bankname">
                      <option value="">Bank</option>
                      <option value="all">ALL</option>
                    {% for items in bnk %}
                      <option value="{{items}}">{{items}}</option>
                      {% endfor %}
                    </select>
                   </div></th>
                  <th  scope="col">TOS</th>
                  <th  scope="col">Status</th>
                  <th  scope="col">Amount</th>
                  <th  scope="col">Date</th>
                  <th  scope="col">Type</th>
                  <th  scope="col">Next Status</th>
                  <th  scope="col">Next Date</th>
                  <th  scope="col">Next Status</th>
                  <th  scope="col">Next Date</th>
                  <th  scope="col">Next Status</th>
                  <th  scope="col">Next Date</th>
                  <th  scope="col">Next Status</th>
                  <th  scope="col">Next Date</th>
                </tr>
              </thead>
              <tbody class="tablebody">
            </tbody>
                </table>
    </div>
</main>

<script>
  // table design starts
   function ptp(){
      var data=new FormData()
      data.append("ptpagent",$("select[name=ptpagent]").val())
      data.append("bankname",$("select[name=bankname]").val())
      data.append("statusn",$("select[name=statusn]").val())
      $.ajax({
          method: 'POST',
          headers: {
              "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
          },
          url: "{% url 'ptpajax' %}",
          data: data,
          datatype:'json',
          processData: false,
          contentType: false,
          success: function (data) {
            let x = data.b
            console.log("s",x)
            output=""
            $('.tablebody').html()

            for (i=0;i<x.length;i++){
              for (j=0;j<x[i].length;j++){
                console.log(j)
                if (j ==  0){
                  let dtFormat = new Intl.DateTimeFormat('en-US',{
                                  month:'short',
                                  day:'2-digit',
                                  year:'numeric',
                                 
                              })

                  let d = x[i][j].callbacktime
                  d = new Date(d);
                  d = dtFormat.format(d)

                  output += (`
                <tr class="dashhover">
           
                <td>${x[i][j].caller_name}</td>  
               
                <td>${x[i][j].bank_loan_accountno}</td>
                <td>${x[i][j].bankname}</td>    
                <td>${x[i][j].TOS}</td>  
                <td class="subdispo">${x[i][j].sub_dispossitions}</td>  
                <td>${x[i][j].amount}</td>  
                <td>${d}</td>  
                <td class='modes'>${x[i][j].mode}</td>  

            `)
                }
                else{
                  let dtFormat = new Intl.DateTimeFormat('en-US',{
                                  month:'short',
                                  day:'2-digit',
                                  year:'numeric',
                                 
                              })

                  let d = x[i][j].callbacktime
                  d = new Date(d);
                  d = dtFormat.format(d)
                  output += (`
                  
 
                  <td class='sub'>${x[i][j].sub_dispossitions}</td>  
                  <td>${d}</td>  
                  `)
                }

              }
            }
            $('.tablebody').html(output)
            $(".modes").each(function(){
              
              if($(this).html()=="undefined"){
              $(this).html(" ")
              }
            })
            $(".sub").each(function(){
              console.log("this",$(this).html())
              if(($(this).html()!= "Paid" ) && ($(this).html()!= "Promise To Pay")){
                $(this).html("BPTP")  
              }else if($(this).html()== "Promise To Pay"){
                $(this).html("PTP")  
              }

            })

            $(".subdispo").each(function(){
              if($(this).html()== "Promise To Pay"){
                $(this).html("PTP")
              }
            })

          }
          
      })
  }
      $(document).ready(function () {
        $('.header-title').html("Team Overall Report")

        ptp()
        
          $("select[name=ptpagent]").change(function(){
          console.log("change",$("select[name=ptpagent]").val())
          ptp()
      })

      $("select[name=bankname]").change(function(){
          console.log("change",$("select[name=bankname]").val())
          ptp()
      })

      $("select[name=statusn]").change(function(){
        console.log("status",$("select[name=statusn]").val())
        ptp()
      })
        

    
      $('.dashsearch').keyup(function() {
          search(this.value);
      });
    
  



$('.show').click(function() {
$('.logdiv').toggle('slow');  
console.log("hiii")      
});

$(".ptp").click(function(){
console.log("ptp")
$(".ptp").addClass("clicked")
$("#paid").removeClass("clicked")
$("#ptps").removeClass("clicked")
$("#ptpsc").removeClass("clicked")
$("#dispostatus").removeClass("clicked")
$("#notattempt").removeClass("clicked")
})
});
$("#paid").click(function(){
$("#paid").addClass("clicked")
$("#ptp").removeClass("clicked")
$("#ptps").removeClass("clicked")
$("#ptpsc").removeClass("clicked")
$("#dispostatus").removeClass("clicked")
$("#notattempt").removeClass("clicked")
});
$("#ptps").click(function(){
$("#ptps").addClass("clicked")
$("#ptp").removeClass("clicked")
$("#paid").removeClass("clicked")
$("#ptpsc").removeClass("clicked")
$("#dispostatus").removeClass("clicked")
$("#notattempt").removeClass("clicked")
});
$("#ptpsc").click(function(){
$("#ptpsc").addClass("clicked")
$("#ptp").removeClass("clicked")
$("#ptps").removeClass("clicked")
$("#paid").removeClass("clicked")
$("#dispostatus").removeClass("clicked")
$("#notattempt").removeClass("clicked")
});
$("#dispostatus").click(function(){
$("#dispostatus").addClass("clicked")
$("#ptp").removeClass("clicked")
$("#ptps").removeClass("clicked")
$("#ptpsc").removeClass("clicked")
$("#paid").removeClass("clicked")
$("#notattempt").removeClass("clicked")
});
$("#notattempt").click(function(){
$("#notattempt").addClass("clicked")
$("#ptp").removeClass("clicked")
$("#ptps").removeClass("clicked")
$("#ptpsc").removeClass("clicked")
$("#dispostatus").removeClass("clicked")
$("#paid").removeClass("clicked")
})



</script>

{% endblock content  %}