<script>
    const rshtml = (id,name,acno,amount,dt,cn,dispo) => {
        return component = `<a href="/cms/${id}" class="recovery-wrapper">
      <div class="svg-icon">
        <img src="/static/Images/recovery_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${name}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${acno}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan Amount</div>
        <div class="data-card-content2">Rs. ${amount}</div>
      </div>
      <div class="">
        <div class="data-card-title">Contacted Date & Time</div>
        <div class="data-card-content2">${dt}</div>
      </div>
      <div class="">
        <div class="data-card-title">Caller Name </div>
        <div class="data-card-content2">${cn}</div>
      </div>
      <div class="">
        <div class="data-card-title">Sub-disposition </div>
        <div class="data-card-content3">${dispo}</div>
      </div>
    </a>`
    }

    $(document).ready(function(){
    function dataSubmit(btnval) {
        var data = new FormData();

            rem = []
            
            $("input[name=remcb]:checkbox:checked").each(function() {
                rem.push($(this).val());
            })
            data.append('tdate',$('input[name=todate]').val())
            data.append('fdate',$('input[name=fdate]').val())
            data.append('sortval',rem)

            sessionStorage.setItem('sortval2',rem)
            sessionStorage.setItem('rsfdate',$('input[name=fdate]').val())
            sessionStorage.setItem('rstdate',$('input[name=todate]').val())

            $.ajax({
                method: 'POST',
                headers: {
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                url: "{% url 'filterrs' %}",
                data: data,
                datatype:'json',
                processData: false,
                contentType: false,
             
                success: function (data) {
                    let x = data.all_data
                    console.log("asdasd",x)
                    // console.log(x)
                    $('.main-data-wrapper').empty()
                    
                    if (x.length < 1){
                        return 1
                    }
                    if (x != undefined){
                        
                        $('.bigdiv').css({'min-height':'auto'})
                    for (var i in x){
                        
                        let dtFormat = new Intl.DateTimeFormat('en-US',{
                                        month:'short',
                                        day:'2-digit',
                                        year:'numeric',
                                        hour: 'numeric',
                                        minute:'numeric',
                                        second:'numeric',
                                        hour12:false
                                    })

                    let d = x[i].contacted_DateTime

                    d = new Date(d);
                    d = dtFormat.format(d)
                    
                    $('.main-data-wrapper').append(rshtml(x[i].id,x[i].borrowor_name,x[i].bank_loan_accountno,x[i].TOS.toLocaleString("en-US", {style:"currency", currency:"INR",maximumFractionDigits: 2}).replace(/₹/gi, ''),d,x[i].callername,x[i].sub_dispossitions))
                       
                }
            }
                }
            })
    }

        $('input[name=fdate]').change(function(){
            dataSubmit()
        })
        $('input[name=todate]').change(function(){
            dataSubmit()
        })
        
        $('.checkbox-wrapper').click(function(){
            dataSubmit()
        })
    $(document).ready(function(){
            dataSubmit()
        })

        
    })
</script>