<script>
    $(document).ready(function(){

    // -----------Reminder filteration start-------
    
    const cbkhtml = (id,name,acno,tos,cname,dispo,d) =>{
        return component = `<a href="/cms/${id}" class="callback-wrapper">
      <div class="svg-icon">
        <img src="/static/Images/callback_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${name}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${acno}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan Amount</div>
        <div class="data-card-content2">Rs. ${tos}</div>
      </div>
      <div class="">
        <div class="data-card-title">Reminder Set for</div>
        <div class="data-card-content2">${d}</div>
      </div>
    </a> `
    }

    const schhtml = (id,name,acno,tos,cname,dispo,d) =>{
        return component = `<a href="/cms/${id}" class="callsch-wrapper">
      <div class="svg-icon">
        <img src="/static/Images/callsch_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${name}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${acno}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan Amount</div>
        <div class="data-card-content2">Rs. ${tos}</div>
      </div>
      <div class="">
        <div class="data-card-title">Reminder Set for</div>
        <div class="data-card-content2">${d}</div>
      </div>
    </a> `
    }

    const ptphtml = (id,name,acno,tos,cname,dispo,d) =>{
        return component = `<a href="/cms/${id}" class="ptp-wrapper">
      <div class="svg-icon">
        <img src="/static/Images/ptp_icon.svg" alt="">
      </div>
      <div class="">
        <div class="data-card-title">Borrower Name</div>
        <div class="data-card-content">${name}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan ID</div>
        <div class="data-card-content2">${acno}</div>
      </div>
      <div class="">
        <div class="data-card-title">Loan Amount</div>
        <div class="data-card-content2">Rs. ${tos}</div>
      </div>
      <div class="">
        <div class="data-card-title">Reminder Set for</div>
        <div class="data-card-content2">${d}</div>
      </div>
    </a> `
    }


    function dataSubmit(dispo) {
        var data = new FormData();

            // rem = []
            
            // $("input[name=remcb]:checkbox:checked").each(function() {
            //     rem.push($(this).val());
            // })
            // console.log(rem)
            data.append('remfilter',$('input[name="filterval"]').val());
            data.append('tdate',$('input[name="todate"]').val())
            data.append('fdate',$('input[name="fdate"]').val())
            data.append('sortby',$('.rm-sortby').val())

            sessionStorage.setItem('remfilter',$('input[name="filterval"]').val())
            sessionStorage.setItem('sort',$('.rm-sortby').val())
            sessionStorage.setItem('fdate',$('input[name="fdate"]').val())
            sessionStorage.setItem('tdate',$('input[name="todate"]').val())
            
            $.ajax({
                method: 'POST',
                headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                url: "{% url 'filterrm' %}",
                data: data,
                datatype:'json',
                processData: false,
                contentType: false,
            
                success: function (data) {
                    let x = data.all_data
                    console.log(x)
                    // console.log(x)
                    $('.main-data-wrapper').empty()
        
                    if (x.length < 1){
                        return null
                    }
                    if (x != undefined){
                        // $('.bigdiv').css({'min-height':'auto'})
                    for (var i in x){

                        let dtFormat = new Intl.DateTimeFormat('en-US',{
                                        month:'short',
                                        day:'2-digit',
                                        year:'numeric',
                                        hour: 'numeric',
                                        minute:'numeric',
                                        second:'numeric',
                                        hour12:false
                                    })

                        let d = x[i].callbacktime
                        d = new Date(d);
                        d = dtFormat.format(d)
                        
                        if (x[i].sub_dispossitions == "Call Back"){
                            $('.main-data-wrapper').append(cbkhtml(x[i].id,x[i].borrowor_name,x[i].bank_loan_accountno,x[i].TOS.toLocaleString("en-US", {style:"currency", currency:"INR",maximumFractionDigits: 2}).replace(/₹/gi, ''),d,x[i].callername,x[i].sub_dispossitions,d))
                        }
                        else if (x[i].sub_dispossitions == "Schedule Call"){
                            $('.main-data-wrapper').append(schhtml(x[i].id,x[i].borrowor_name,x[i].bank_loan_accountno,x[i].TOS.toLocaleString("en-US", {style:"currency", currency:"INR",maximumFractionDigits: 2}).replace(/₹/gi, ''),d,x[i].callername,x[i].sub_dispossitions,d))
                        }
                        else if (x[i].sub_dispossitions == "Promise To Pay"){
                            $('.main-data-wrapper').append(ptphtml(x[i].id,x[i].borrowor_name,x[i].bank_loan_accountno,x[i].TOS.toLocaleString("en-US", {style:"currency", currency:"INR",maximumFractionDigits: 2}).replace(/₹/gi, ''),d,x[i].callername,x[i].sub_dispossitions,d))
                        }

                        

                }
            }
                }
            })
    }


        $('input[name="todate"]').change(function(){
            dataSubmit()
        })

        $('input[name="fdate"]').change(function(){
            dataSubmit()
        })

        $('input[name=remcb]').click(function(){

            dataSubmit()
        })
        
        $('.rm-sortby').change(function(){
            dataSubmit()
        })

        
        $(document).ready(function(){

          dataSubmit()
         
          $(document).on('click','.cbk',function(){
            $('input[name="filterval"]').val("Call Back")
           dataSubmit()
          })
          $(document).on('click','.schc',function(){
            $('input[name="filterval"]').val("Schedule Call")
           dataSubmit()
          })
          $(document).on('click','.ptp',function(){
            $('input[name="filterval"]').val("Promise To Pay")
           dataSubmit()
          })
          $(document).on('click','.fall',function(){
            $('input[name="filterval"]').val("")
           dataSubmit()
          })

        })

    // -----------Reminder filteration end-------
    
    
       
    })

</script>