{% extends 'base.html'  %}

{% block content  %}
{% load static  %}
{% csrf_token  %}

<main class="main-reminder main-ots">
    <div class="searchdiv flex-wrap">
        <div class="searchlabel">
            <span class="sl">Borrowor Name</span>
            <input type="text" name="borrowor_name"  autocomplete="off"  class="searchinput">
        </div>
             

        <div class="searchlabel" style="margin: 0;"> 
            <span class="sl">Phone no</span>
            <input  type="tel" name="mobile_number" autocomplete="off" class="searchinput">
        </div>
           
        <div class="searchlabel"  style="margin: 0;">
            <span class="sl">Loan No.</span>
            <input  type="tel" name="loan_id"  autocomplete="off" class="searchinput">
        </div>
         
                <button  type="button" class="searchbtn">Search</button>
            </div>

            <div class="table-wrapper table-responsive" >
                <table class="table table-borderless  rounded" >
                  <thead class="sticky-top">
                    <tr>
                      <th  scope="col">Lead id</th>
                      <th  scope="col">Borrower Name</th>
                      <th  scope="col">Phone no.</th>
                      <th  scope="col">Loan no.</th>
                      <th  scope="col">Caller ID</th>
                    </tr>
                  </thead>
                  <tbody style="cursor: pointer;">
                  </tbody>
        </div>    
</main>

<script>
function sajax(){
    data = new FormData()
    
    data.append('borrowor_name',$('input[name="borrowor_name"]').val())
    data.append('mobile_number',$('input[name="mobile_number"]').val())
    data.append('loan_id',$('input[name="loan_id"]').val())


    $.ajax({
            method: 'POST',
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            url: "{% url 'sajax' %}",
            data: data,
            datatype:'json',
            processData: false,
            contentType: false,    
            success: function (data) {
               console.log(data.status)
               let x = data.all_data
                console.log(x)
               
                output = ""
                if (x != undefined){
                    for (var i in x){
                        output += (`<tr class='clickable-row dashhover'data-href='/cms/${x[i].id}''  id="show">
                        <input type="hidden" class="attempted" value="${x[i].attempted}">
                        <td>${x[i].id}</td>
                        <td>${x[i].borrowor_name}</td>
                        <td>${x[i].mobile_number}</td>
                        <td>${x[i].bank_loan_accountno}</td>
                        
                        <td><img src="/static/Images/Attachment 1.svg"/></td>
                        
                    </tr>`)

                    }
                }

                $('tbody').html(output)

                $('.attempted').each(function(){
                    if ($(this).val() != 0){
                        $(this).parent().css({'color':'#047BD5','font-size': '12px', 'font-weight': 'bold'})
                    }
                })
            }
        })
 }

 
 function setsess(){
        sessionStorage.setItem('bn',$('input[name="borrowor_name"]').val())
        sessionStorage.setItem('mn',$('input[name="mobile_number"]').val())
        sessionStorage.setItem('ld',$('input[name="loan_id"]').val())
    }
     
    function getsess(){
        let abn = sessionStorage.getItem('bn')
        let amn = sessionStorage.getItem('mn')
        let ald  = sessionStorage.getItem('ld')
        $('input[name="borrowor_name"]').val(abn)
        $('input[name="mobile_number"]').val(amn)
        $('input[name="loan_id"]').val(ald)
        console.log(abn,amn,ald)
    }


$(document).ready(function () {
    $('.header-title').html("Search")


  $(".sa").addClass("active-page")
    getsess()
    $('.searchbtn').click(function(){
        setsess()
        sajax()
    })

    $(document).on('click',".clickable-row",function() {
    window.location = $(this).data("href");
    })
    
    sajax()

});

 
</script>

{% endblock content  %}